<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Lei Geral de Proteção de Dados (LGPD)</h5>
      </div>
      <div class="card-body">
      <section>
          <h2>O que é a LGPD?</h2>
          <p>A Lei Geral de Proteção de Dados (Lei nº 13.709/2018) é a legislação brasileira que visa garantir a privacidade
              e a proteção dos dados pessoais dos cidadãos.</p>
      </section>

      <section>
          <h3>Principais Pontos da LGPD</h3>
          <p>Alguns dos principais pontos da LGPD incluem:</p>
          <ul>
              <li>Consentimento do titular dos dados;</li>
              <li>Finalidade e necessidade no tratamento de dados;</li>
              <li>Direitos dos titulares (acesso, correção, exclusão, etc.);</li>
              <li>Medidas de segurança para proteção dos dados;</li>
              <li>Responsabilidade e transparência no tratamento de dados.</li>
          </ul>
      </section>

      <section>
          <h3>Como a LGPD Afeta Empresas e Organizações?</h3>
          <p>A LGPD impõe responsabilidades às empresas e organizações que realizam o tratamento de dados pessoais, exigindo
              conformidade com as normas estabelecidas pela legislação.</p>
      </section>

      <section>
          <h3>Referências</h3>
          <p>Para mais informações, consulte o texto completo da <a
                  href="http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2018/Lei/L13709.htm" target="_blank">Lei Geral de
                  Proteção de Dados (LGPD)</a>.</p>
      </section>
    </div>
  </div>
</div>
