<div class="page">
  <form [formGroup]="form" class="formLogin">
    <h1>Alterar Senha</h1>
    <label for="email">E-mail</label>
    <input type="email" placeholder="Digite seu e-mail" formControlName="email" autofocus="true" />
    <a *ngIf="isLogin" href="/">Esqueci minha senha</a>
    <button (click)="resetPassword()" class="btn">Enviar</button>
    <button *ngIf="isLoadingButton" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true">
      </span> Loading...
    </button>
  </form>
</div>
