<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Cadastro de valor</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-2">
              <div class="form-group">
                <label>Data</label>
                <input type="" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-sm-1 pr-2">
              <div class="form-group">
                <label>Depósito</label>
                <input (click)="changeCheckbox($event, 'deposit')" type="checkbox" class="form-control" [checked]="isDeposit" placeholder="Depósito">
              </div>
            </div>
            <div class="col-sm-1 pr-1">
              <div class="form-group">
                <label>Gasto</label>
                <input (click)="changeCheckbox($event, 'expense')" type="checkbox" class="form-control" [checked]="isExpense" placeholder="Gasto">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Descrição</label>
                <input type="text" class="form-control" placeholder="Descrição">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Valor</label>
                <input type="number" class="form-control" placeholder="Valor">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
